<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata
              httpGetUrl="http://127.0.0.1:3721/CalculatorService/metadata"
              httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Services.CalculatorService" behaviorConfiguration="metadataBehavior">
        <endpoint address="http://127.0.0.1:3721/CalculatorService"
                  binding="wsHttpBinding"
                  contract="Contract.ICalculator">
        </endpoint>
        <endpoint address="http://127.0.0.1:3721/CalculatorService/mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="PortSharingBinding" portSharingEnabled="true"></binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wshttpbind" allowCookies="true" closeTimeout="00:01:00" receiveTimeout="00:01:00"></binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>