<?xml version="1.0" encoding="utf-8" ?>
<StateProvinceData xmlns="urn:com:company:project:v1">
  <Country locale="ABW" hasStateProvinces="true" phonePrefix="297" />
  <Country locale="ATG" hasStateProvinces="true" phonePrefix="1 268" />
  <Country locale="USA" hasStateProvinces="true" phonePrefix="1" isPostalCodeRequired="true" >
    <StateProvince value="Alabama">Alabama</StateProvince>
    <StateProvince value="Alaska">Alaska</StateProvince>
    <StateProvince value="Arizona">Arizona</StateProvince>
    <StateProvince value="Texas">Texas</StateProvince>
    <StateProvince value="Utah">Utah</StateProvince>
    <StateProvince value="Vermont">Vermont</StateProvince>
    <StateProvince value="Virginia">Virginia</StateProvince>
    <StateProvince value="Washington">Washington</StateProvince>
    <StateProvince value="West Virginia">West Virginia</StateProvince>
    <StateProvince value="Wisconsin">Wisconsin</StateProvince>
    <StateProvince value="Wyoming">Wyoming</StateProvince>
  </Country>
  <Country locale="UZB" hasStateProvinces="true" phonePrefix="998" />
  <Country locale="VAT" hasStateProvinces="true" phonePrefix="39" />
</StateProvinceData>