<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WeatherWSSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WeatherWSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://webservice.webxml.com.cn/WebServices/WeatherWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeatherWSSoap"
                contract="ServiceReferenceWeather.WeatherWSSoap" name="WeatherWSSoap" />
            <endpoint address="http://webservice.webxml.com.cn/WebServices/WeatherWS.asmx"
                binding="customBinding" bindingConfiguration="WeatherWSSoap12"
                contract="ServiceReferenceWeather.WeatherWSSoap" name="WeatherWSSoap12" />
        </client>
    </system.serviceModel>
</configuration>