<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICalculator" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:3721/CalculatorService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICalculator" contract="ServiceReference1.ICalculator"
                name="WSHttpBinding_ICalculator">
                <identity>
                    <userPrincipalName value="John-PC\John" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>